/* Estilo para el cuerpo de todas las páginas */
body {
    font-family: Arial, sans-serif;
    background-color: #222221;
    margin: 0;
    padding: 0;
}

/* Estilo para encabezados */
h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 20px;
    color: #666;
}

/* Estilo para párrafos */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

/* Estilo para imágenes */
.contenedor-imagen {
    display: flex; /* Utilizamos un contenedor flexible para centrar */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
}

.contenedor-imagen img {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    max-height: 100%; /* Asegura que la imagen no supere la altura del contenedor */
}

/* Estilo para listas no ordenadas */
ul {
    list-style-type: disc;
}

/* Estilo para menú desplegable */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilo para hipervínculos */
a {
    color: #0078d4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
